.left-section {
    width: 20%;
    height: 100vh;
    background-color: #f3e8ff;
    .logo-lama {
      display: flex;
      margin: 20px;
      .lama {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        color: #7e22ce;
        font-size: 30px;
      }
    }
    .sidebar-content {
      display: flex;
      gap: 20px;
      background-color: #7e22ce;
      padding: 15px;
      border-radius: 60px;
      margin: 10px;
      .numbers {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        color: white;
        background-color: black;
        width: 30px;
        height: 29px;
        border-radius: 280px;
      }
      .list-content {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        color: white;
      }
    }
    .sidebar-content2 {
      display: flex;
      gap: 20px;
      background-color: #1d1b2014;
      padding: 18px;
      border-radius: 60px;
      margin: 10px;
      height: 30px;
      .numbers2 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        width: 30px;
        height: 29px;
        border-radius: 280px;
        background-color: rgba(160, 161, 171, 0.772);
        color: #3c3c3c;
      }
      .list-content2 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
        color: #49454f;
        height: 30px;
      }
    }
    .podcast-upload {
      text-align: left;
      margin-left: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      color: #49454f;
      font-size: 15px;
      margin-bottom: 25px;
    }
    .divider {
      margin: 2px;
    }
    .setting-container{
      display: flex;
      margin: 12px;
    
      position: absolute;
      bottom: 0;
  justify-content: center;
  .setting-section{
    display: flex;
    align-items: center;
  }
      .setting{
        margin-left: 10px;
      }
    }
  }