.upload-container {
  display: flex;
  width: 100%;
  height: 100vh;
  .right-section {
    width: 80%;
    height: 100vh;
    margin: 20px;
    .upload-heading {
      display: flex;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #7e22ce;
      font-size: 40px;
      margin-top: 25px;
    }
    .uploadItem-grid {
      margin-top: -40px;
    }
    .OR {
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #999999;
    }
    .cloud-upload {
      width: 100%;
      height: 300px;
      background-color: #f3e8ff;
      border-width: 20;
      border-style: dashed;
      border-color: #999999;
      padding: 6px;
      border-radius: 15px;
      .cloud-section {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #49454f;
      }
      .cloud-format {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #00000066;
      }
      .select-file {
        margin-top: 20px;
        color: #7e22ce;
        border-color: #7e22ce;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    }
  }
}
